h4 {
font-size: 35px;
margin-top: 25px;
margin-bottom: 25px
}
.logo{
height: 61px;
width: 500px;
margin-bottom: 10px
}
.logonavbar{
height: 37px;
width: 300px;
margin-bottom: 10px
}
.nodecor{
text-decoration: none !important;
color: #3b7cf6
}
.nodecor:hover{
color: #3b7cf6
}