.user.name{
  color: #fff;
  }
  // span{
  //   font-size: 15px !important;
  // }
  .circle {
  padding-top: 20px;
  padding-right: 10px;
  float: left;
  }
  .text{
  font-size: 15px !important;
  font-weight: bolder;
  padding-right: 20px;
  }
  .logout{
  font-size: 15px !important;
  font-weight: 500;
  }
  .avatar{
  font-size: 15px !important;
  }